$primary = #eb6676;

$black = rgba(black, 0.5);
$grey = #bbbbbb;
$white = #fcfcfc;

$link = $black;
$link-h = #f06f87;

$lap-breakpoint = 680px;
$desk-breakpoint = 1120px;

$poster = 'Playfair Display', serif;
$body = 'Open Sans', sans-serif;